:root{
    --color-light:#f1f2f2;
    --color-light-primary:rgb(255, 255, 255);
    --gradient: linear-gradient(92.29deg,#892e5e,#e50038);
    --gradient-vertical: linear-gradient(0,#e50038,#892e5e);
    --shadow: 2px 2px 6px #0000000f,-2px -2px 4px #0000000f;
    --shadow-dark: 2px 2px 6px #0000000f,-2px -2px 4px #0000000f;
    --iq-black: rgb(44, 44, 47);
    --iq-title-text: #3f414d;
    --iq-body-text: #a5a5a5;
    --body-light: #777d74;
    --iq-primary: #e50038;
    --iq-secondary: #a09e9e;
    --iq-success: #e0fae6;
    --iq-warning: #ffba68;
    --iq-danger: #c63240;
    --iq-info: #d592ff;
    --iq-dark: #3f414d;
    --iq-light: #f1f2f2;
    --iq-white: #fff;
    --iq-grey: #e4e6eb;
    --iq-light-primary: #e9ecef;
    --iq-light-dark: #f0efef;
    --iq-primary-hover: #892e5e;
    --iq-border-light: #f1f1f1;
    --iq-dark-primary: #29324f;
    --iq-dark-secondary: #a09e9e33;
    --iq-dark-success: #49f0d333;
    --iq-dark-danger: #ff9b8a33;
    --iq-dark-warning: #ffba6833;
    --iq-dark-info: #d592ff33;
    --iq-border-light: #f1f1f1;
    --iq-dark-bg: #0d0e1f;
    --parler-gradient: linear-gradient(90deg,#892e5e,#d31f3e);
    --parler-gradient-sec: linear-gradient(90deg,#4acab7,#50a9c2);
    --parler-gradient-selector: linear-gradient(135deg,#3da2ff 0%,#68d1bd 100%);
    --parler-gradient-tert: linear-gradient(90deg,#7f3571,#52a4c3);

    --gradient: linear-gradient(92.29deg,#892e5e,#e50038);


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: var(--color-light);
}

header{
    width: 100%;
    height: 70px;
    background: var(--iq-dark);
    display: flex;
    justify-content:space-around;
    align-items: center;
    box-shadow: var(--shadow);
    position: fixed;
    z-index: 99999999999;
}

.logo{
    padding: 5px;
    display: flex;
    align-items: center;
}
.logo img{
    height: 40px;
}

.nav_header{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav_header p{
    margin: 0;
    padding-right: 10px;
    color: white;
    font-family: 'Calibri light';
}

.nav_header button{
    background: transparent;
    color: white;
    font-size: 25px;
    border: 0;
    margin: 0;
    
}



.nav_header button:hover{
    color: var(--iq-grey);
}

.btn_active{
    transform: rotate(-45deg) !important;
}

.offcanvas{
    width: 300px;
    height: calc(100vh - 70px);
    top: 70px;
    z-index: 99999999;
    background: var(--color-light);
    border-right: 1px solid rgb(205, 205, 205);
}







.main{
    padding-top: 70px;
    width: 100%;
}



















footer{
    width: 100%;
    padding: 20px;
    background: var(--iq-grey);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p{
    margin: 0;
    color: rgb(77, 77, 77);
}
footer p a{
    text-decoration: none;
    color: rgb(77, 77, 77);
}

footer .redes_footer a{
    text-decoration: none;
    color: rgb(77, 77, 77);
}


.main .main_scd{
    display: flex;
}

.main .container aside{
    width: 300px;
    height: calc(100vh - 70px);
    padding: 20px 10px 10px 10px;
}
.main .container aside .perfil{
    
}

.main .container section{
    width: calc(100% - 300px);
    padding: 20px;
}

.perfil{
    width: 100%;
    background: white;
    border-radius: 10px;
    padding-bottom: 20px;
}

.perfil .portada{
    width: 100%;
    height: 150px;
}

.perfil .portada img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.perfil .foto{
    width: 100%;
    height: 80px;
    padding-left: 20px;
    margin-top: -30px;
}

.perfil .foto img{
    padding: 3px;
    width: 80px;
    height: 100%;
    background: rgb(255, 255, 255);
    object-fit: contain;
    border-radius: 50%;
    box-shadow: var(--shadow);
    cursor: pointer;
}


.perfil .datos{
    width: 100%;
    padding-left: 30px;
    padding-top: 10px;
}

.perfil .datos p{
    width: 100%;
    font-family: 'Calibri light';
    margin: 0;
    cursor: pointer;
}

.perfil .datos .name{
    
    font-weight: 777 !important;
    margin: 0;
    font-size: 17px;
}

.perfil .datos p i{
    width: 25px;
    text-align: center;
}

.modal-body img{
    width: 100%;
}

.modal-body {
    padding: 0;
    text-align: center;
    z-index: 9999999999999;
}


.main .container aside .nav_cont{
    box-shadow: var(--shadow);
}


.nav_cont{
    margin-top: 20px;
    width: 100%;
    background: white;
    border-radius: 10px;
    padding-bottom: 20px;
}


.btn-flotante {
	font-size: 30px; /* Cambiar el tamaño de la tipografia */
	color: #ffffff; /* Color del texto */
	border-radius: 50%; /* Borde del boton */
	background: var(--iq-dark);
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-flotante:hover {
	background: var(--iq-dark);
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
    color: #44ec57;
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		bottom: 20px;
		right: 20px;
	}
}

.btn_curriculum{
    width: 100%;
    padding: 20px 20px 0px 20px;
}

.btn_curriculum button{
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background: var(--parler-gradient-sec);
    color: white;
    box-shadow: var(--shadow);
}


.btn_curriculum button:hover{
    background: var(--parler-gradient-selector);
    color: white;
}








.cont_section{
    width: 100%;

}


.nav_sectionfa-spin{
    padding: 10px;
    border-radius: 10px;
}
.nav_sectionfa-spin ul{
    border: 0 !important;
}
.nav_sectionfa-spin ul li{
    padding: 0px !important;
}

.nav_sectionfa-spin ul li a{
    color: rgb(95, 95, 95);
}
.nav_sectionfa-spin ul li a i{
    font-weight: 333;
}
.nav_sectionfa-spin ul li a b{
    font-weight: 333;
}

.nav_sectionfa-spin ul li a:hover{
    color: rgb(76, 76, 76);
}

@media (max-width:1000px){
    .main .main_scd section{
        width: 100%;
        display: block;
        width: 100%;
    }
    .main .main_scd{
        display: block;
    }
    
    .main .container aside{
        display: none;
    }
}



.tab-content{
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    padding: 0;
}

@media (max-width:530px){
    .nav_sectionfa-spin ul li{
        color: rgb(95, 95, 95);
        width: 25%;
    }
    .nav_sectionfa-spin ul li a{
        color: rgb(95, 95, 95);
        width: 100%;
        text-align: center;
    }
    .nav_sectionfa-spin ul li a i{
        font-weight: 333;
    }
    .nav_sectionfa-spin ul li a b{
        font-weight: 333;
        display: none;
    }
    .main .main_scd{
        width: 100% !important;
        padding: 0 !important;
    }
    .main_scd section{
        padding: 0 !important;
    }
    .cont_section{
        width: 100%;
        padding: 0 !important;
    }

    footer{
        display: block !important;
        text-align: center;
    }
}


.nav_sectionfa-spin ul li .active{
    background: var(--color-light) !important;
    border-bottom: 2px solid rgb(23, 24, 42) !important;
    color: rgb(23, 24, 42) !important;
}




.inicio{
    width: 100%;
}

.inicio p{
    margin: 0;
    text-align: justify;
    font-family: 'Calibri light';
}

.school{
    width: 100%;
    padding: 20px;
    padding-bottom: 0px !important;
}

.dates_school{
    width: 100%;
    padding: 20px;
    padding-bottom: 0px !important;
}
.dates_school p{
    margin: 0;
    font-family: 'Calibri light';
}


.dates_schools{
    padding: 20px;
    padding-bottom: 0px !important;
}
.dates_schools p{
    margin: 0;
    font-family: 'Calibri light';
}

.btns{
    display: block !important;
}

.btns a{
    display: block;
}

.dates_schools a button{
    width: 150px;
    padding: 10px 20px 10px 20px;
    border: 0;
    color: white;
    margin-bottom: 5px;
    border-radius: 10px;
}

.dates_schools a button:hover{
    box-shadow: var(--shadow);
}

.dates_schools .face_dcs{
    background-color: rgb(66, 121, 232) !important;
}

.dates_schools .ws_dc{
    background-color: rgb(84, 190, 45) !important;
}



.tarjeta{
    padding: 5px;
}

.tarjeta .tarjeta_body{
    background: white;
    border-radius: 10px;
}

.img_box{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
}

.info_project{
    text-align: center;
    padding: 10px;
}
.tarjeta a{
    text-decoration: none;
    color: rgb(71, 71, 71);
}

.info_project p{
    margin: 0;
    font-family: 'Calibri light';
}

.titulo_pades{
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Calibri light';
}






.sdr img{
    border-radius: 10px;
}

@media (min-width:1003px){
    #btn_menu{
        display: none !important;
    }
}

@media (max-width:1003px){
    #btn_menues{
        display: none !important;
    }
}
